@font-face {
    font-family: norse;
    src: url("assets/Norse-Bold.otf");
}

body {
    margin: 0;
}

.page-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
}

.banner-section {
    width: 40%;
    background: 100% url("assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section > div {
    width: 100%;
    height: 15%;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30vh;
}

.banner-section p {
    margin: 0;
    font-family: norse;
    font-size: 125px;
    color: white;
}

.banner-section img {
    width: auto;
    height: 100%;
}

.signup-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(250, 250, 250);
    gap: 5vh;
}

.signup-section > div {
    width: 100%;
    height: 100%;
    margin: 0;
}

.motivation-section {
    display: flex;
    align-items: end;
}

.motivation-section p {
    font-size: 25px;
    padding: 30px;
}

.form-section {
    flex: 2;
    background: white;
    box-shadow:  1px 3px 4px lightgrey;
}

tr {
    display: flex;
    gap: 40px;
}

td {
    display: flex;
    flex-direction: column;
}

